.EditTaskModal{
    width: 600px;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.EditTaskModalTitle{
    font-size: 24px;
    font-family: 'Inter';
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}