.todo-item{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(153,164,185,0.25); 
    box-shadow: 0px 0px 20px 2px rgba(153,164,185,0.25);
    overflow: hidden;
    background: #fff;
}
.item-header{
    padding: 20px 20px 15px 20px;
}
.description{
    padding: 0px 20px 20px 20px;
}
.priority{
    padding: 10px 20px 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.priority.red{
    background-color: #EB7F7F;
}

.priority.orange{
    background-color: #F4AF5E;
}

.priority.yellow{
    background-color: #FADE4E;
}

.priority.green{
    background-color: #AEFA4E;
}

.item-header{
    display: flex;
    justify-content: space-between;
}
.item-header img{
    width: 20px;
    display: none;
}

.todo-item:hover .edit-button{
    display: block;
    cursor: pointer;
}