.list-wrapper{
    padding: 50px 150px 50px 150px;
    display: flex;
    gap: 80px;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}
.todos{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.column-title{
    padding: 30px;
    font-size: 30px;
    font-family: 'Inter';
    color: #182651;
    text-align: center;
}

.ToDoListAddButton{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #EE241F;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 20px 0px #EB7F7F; 
    box-shadow: 3px 3px 20px 0px #EB7F7F;
}

.ToDoListAddButton::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #fff;
    left: 25%;
}

.ToDoListAddButton::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #fff;
    left: 25%;
    transform: rotateZ(90deg);
}